@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
}

.conten{
 max-width: 80vw;
 font-family: 'Ubuntu', sans-serif;
}

.nav-bar{
    display: flex;
    height: 67px;
}

.nav-bar li{
    list-style: none;
    margin: 0 12px;
}

.topleft{
    width: 50%;
    /*height: 50vh; checking*/
    padding:12px 0 ;
}

.topright{
    width: 50%;
   /* height: 50vh; sam chackingg*/
}

.size{
    font-size: 1.3rem;
    color:rgb(255, 116, 46);
}

.section1{
max-height: 100vh;
}
/*section2*/
.section2{
    padding-left: 63px;
    padding-right: 63px;
}

.section1 h1{
    font-size: 2rem;
}

.section2 h1{
    font-size: 3rem;
}
.section2 p{
    padding: 0 8vw;
    text-align: center;
}


.jymboy{
    /*width: 1000px; testing phase */
    height: 450px;
}

.box{
    padding: 8px 0;
    margin: 12px 22px;
    min-width: 23vw;
    border: 2px solid rgb(155, 65, 26);
    border-radius: 12px;
    text-align: center;
}

.boxG{
    padding: 8px 0;
    margin: 12px 22px;
    min-width: 23vw;
    border: 3px solid rgb(155, 65, 26);
    border-radius: 12px;
    text-align: center;
}

.boxG ul{
    list-style: none;
}

.box ul{
    list-style: none;
}
.box ul li{
    margin: 12px 2px;
}
.boxG ul li{
    margin: 12px 2px;
}


.box h2{
    font-size: 2rem;
    padding: 15px;

}
.boxG h2{
    font-size: 2rem;
    padding: 15px;

}
.plantable{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section3 table{
    width: 100%;
    margin: 0 12px;
}

.section3 table th{
    width: 23vw;
    padding: 15px 0;
    
}


.section3{
    margin: 63px;
    padding: 63px;
}

footer{
    padding: 23px;
}